*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-base: 1rem;
  --padding-section: 2rem;
  font-size: 16px;
}

.d-flex{
  display: flex;
}

.f-col{
  flex-direction: column;
}

.f-row{
  flex-direction: row;
}

.fw{
  flex-wrap: wrap;
}

.fa-center{
  align-items: center;
}

.fj-center{
  justify-content: center;
}

.fj-space-bw{
  justify-content: space-between;
}

.questrial-regular {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.base-bgcolor{
  background-color: #24b291;
  color: white;
}

.base-color{
  color: #199f4f;
}

.pd-st{
  padding: 1.5rem;
}

.pt-st{
  padding-top: 3em;
}

.pt-st2{
  padding-top: 2em;
}

.text-center{
  text-align: center;
}

header div{
  max-width: 1200px;
  margin: auto;
}

header #logo{
  font-size: 2rem;
}

header a{
  color: white;
  text-decoration: none;
}

.menuToggle{
  display: flex;
  left:0%;
  animation: menuSlide 0.05s ease-in;
}

@keyframes menuSlide {
  from{
    left:100%
  }
  to{
    left: 0;
  }
}

.menuToggleOff{
  left:100%;
  animation: menuSlideOff 0.05s ease-in;
}

@keyframes menuSlideOff {
  from{
    left:0%;
    display: flex;
  }
  to{
    left: 100%;
    display: none;
  }
}

nav ul{
  list-style: none;
  background-color: #24b291;
  width: 100%;
  position: fixed;
  top: 90px;
  left: 0;
  right: 0;
  display: none;
  flex-direction: column;
  padding-bottom: 1.5em;
  bottom: 0;
  justify-content: flex-start;
  z-index: 1000;
  text-align: left;
  border-top: 1px solid white;
  padding-top: 1em;
}

nav ul li{
  padding: 1em;
}

nav ul li a{
  color: white;
  font-size: 1.2rem;
  text-align: left;
}

nav ul li a:hover{
  cursor: pointer;
  color: white;
}

main{
  padding: 20px;
  overflow: hidden;
}

section{
  width: fit-content;
}

section#subscribe{
  min-width: 90vw;
}

section#posts{
  width: 100vw;
}

.w-100{
  width: 100%;
}

#banner{
  min-height: 80vh;
}

#banner img{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 0.5em;
}

.banner-left{
  width: 70%;
}

.banner-left h1, .banner-left span{
  max-width: 400px;
}

.banner-left span{font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #6d6d6d;
}

.banner-right{
  width: 30%;
  position: relative;
  min-height: 400px;
}

.banner-right img:nth-child(1){
  position: absolute;
  right: 0;
  /* transform: rotate(15deg) translate(54px, 8px); */
  z-index: 1;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 2px 2px 10px grey;
}

.banner-right img:nth-child(2){    
  position: absolute;
  right: 0;
  transform: rotate(19deg) translateX(-101px) translateY(58px);
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 2px 2px  10px grey;
}

#subscribe button{
  margin-left: 1em;
  font-size: 1rem;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #199f4f;
  background: white;
}

#subscribe input{
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 2px 10px;
}

#subscribe h2{
  font-weight: normal;
  margin-bottom: 0.5em;
}

#subscribe{
  min-height: 150px;
}

#blogPost{
  max-width: 900;
  line-height: 25px;
  letter-spacing: 1px;
  text-align: justify;
}

#blogPost h2{
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  margin: 20px 0px;
  font-weight: normal;
}

h2{
  font-size: 1.5rem;
}

#blogPost time{
  color: rgb(116, 115, 115);
}

#blogPost p{
  margin-top: 15px;
  letter-spacing: 0.05rem;
  color: #0b0b0b;
  font-size: 0.8rem;
}

#blog-posts article{
  height: 450px;
  margin-top: 3em;
}

#blog-posts .about{
  padding: 1em;
  padding-top: 2em;
}

#blog-posts img{
  width: 50%;
}

#blog-posts a{
  text-decoration: none;
}

#blog-posts span{
  letter-spacing: 0.1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: justify;
}

#blog-posts article div{
  width: 50%;
}

#blog-posts time{
  color: grey;
  margin-bottom: 2em;
  display: inline-block;
}

#blog-posts h3{    
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

/* POSTS */
#posts article {
  max-width: 25em;
  position: relative;
  border-radius: 10px;
  margin: 1rem;
  width: 15em;
  height: 8em;
}

img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#blog

#posts article .about{
    position: absolute;
    display: none;
    bottom: 0;
    top: 0;
    padding: 0.7em;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #17171782;
    font-size: 1rem;
    border-radius: 10px;
}

#posts article  .about:hover{
  text-decoration: underline;
  cursor: pointer;
}

#posts article:hover .about{
  text-decoration: underline;
  cursor: pointer;
  display: flex;
}

#posts article:hover{
  box-shadow: 10px 10px 10px #00000030;
}

#contact form{
  background: white;
  border-radius: 20px;
  box-shadow: 3px 3px 15px #d6cfcf;
  padding: 3em 2em;
}

#contact input{
  width: 100%;
  font-size: 0.8rem;
  margin-bottom: 1.5em;
  border: 1px solid #7ad07a;
  border-radius: 15px;
  padding: 7px 15px;
  outline: none;
  box-shadow: none;
}

form .d-flex{
  flex-wrap: wrap;
}

#contact input:nth-child(1){
  margin-right: 0em;
}

#contact textarea{
  width: 100%;
  height: 8em;
  font-size: 0.8rem;
  margin-bottom: 1.5em;
  border: 1px solid #7ad07a;
  border-radius: 15px;
  padding: 10px 20px;
  outline: none;
  box-shadow: none;
}

#contact input:focus,
#contact textarea:focus{
  border-color: green;
}

#contact #submit{
  background-color: #24b291;
  border: none;
  border-radius: 10px;
  max-width: 10em;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  border-radius: 30px;
  box-shadow: 5px 2px 15px #d2d2d2;
  padding: 0.5em 1em;
  margin-bottom: 0;
}

#contact #submit:hover{
  transform: scale(1.1);
  cursor: pointer;
  animation: scaleBtn 0.1s ease;
}

@keyframes scaleBtn {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

h4{
  font-size: 1.5rem;
  /* font-weight: normal; */
}

footer{
  text-align: center;
  padding: 8px 20px;
  color: grey;
}

.menu-icon{
  display: block;
  font-size: 1.2rem;
}

@media screen and (min-width: 350px) {
  #blogPost h2, h2{
    font-size: 1.7rem;
  }
  #blogPost p{
    font-size: 0.9rem;
  }

  #posts article .about{
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) {
  #blogPost h2, h2{
    font-size: 2rem;
  }
  #blogPost p{
    font-size: 1rem;
    letter-spacing: 0.1rem;
  }
  
  #posts article .about{
    font-size: 1.2rem;
  }

  #posts article{
    max-width: 25em;
    position: relative;
    border-radius: 10px;
    margin: 1rem;
    width: 25em;
    height: 15em;
  }
}

@media screen and (min-width: 770px) {

  nav ul{
    position: relative;
    width: fit-content;
    top: 0;
    flex-direction: row;
    margin-bottom: 0;
    display: flex;
    padding-bottom: 0;
    justify-content: space-between;
    border: none;
    padding-top: 0;
  }

  .menu-icon{
    display: none;
  }

  nav ul li{
    padding: 0 2em;
  }

  nav ul li a {
    font-size: 1.2rem;
  }
  
  header #logo {
    font-size: 2rem;
  }  
  
  form .d-flex{
    flex-wrap: nowrap;
  }

  #contact input:nth-child(1){
    margin-right: 1em;
  }

  #contact form{
    padding: 2em;
    box-shadow: 10px 10px 30px #d6cfcf;
  }

  #contact input,
  #contact textarea{
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 1.5em;
  }

  #contact #submit{
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 990px) {
  section{
    width: 900px;
  }

  #contact form{
    padding: 2em;
  }
}
